*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.plus-less-container{
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.reset-btn,
.action-btn{
    border: none;
    background-color: rgb(44, 11, 233);
    color: white;
    font-size: 2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
}
.reset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.reset-btn{
}
#counter{
    font-size: 6rem;
    font-weight: bold;
}